<div class="row">
    <div class="col-12 text-center">
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" class="form-signin mt-5">
            <h1 class="h3 mb-5 font-weight-normal">Bejelentkezés</h1>
            <p *ngIf="emailField.invalid && emailField.touched" class="error-message">Kérlek érvényes jelszót adjál meg!
            </p>
            <label for="inputEmail" class="sr-only">E-mail cím</label>
            <input type="email" name="email" [(ngModel)]="user.email" #emailField="ngModel" email id="inputEmail"
                class="form-control mb-3" placeholder="E-mail cím" required autofocus>
            <label for="inputPassword" class="sr-only">Jelszó</label>
            <input type="password" id="inputPassword" name="password" [(ngModel)]="user.password" #passwordField
                class="form-control mb-3" placeholder="Jelszó" required>
            <button class="btn btn-block btn-info mb-5" type="submit" [disabled]="loginForm.invalid">Belépés</button>

            <div *ngIf="serverError && loginForm.submitted" class="alert alert-danger mt-3">
                {{ serverError }}
            </div>

        </form>
    </div>
</div>