<div class="main-content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex mb-3 col-6 offset-6">
                <div class="col-md-4">
                    <select [(ngModel)]="phraseKey" class="custom-select">
                        <!-- <option value="">Keresés </option> -->
                        <!-- <option value="date">Dátum</option>
                        <option value="incomeName">Megnevezés</option>
                        <option value="sum">Összeg</option>
                        <option value="description">Leírás</option>
                        <option value="id">#</option> -->
                        <option *ngFor="let key of keyArray" [value]="key.en">
                            {{ key.hu }}
                        </option>
                    </select>
                </div>
                <input [(ngModel)]="txt" class="form-control px-1" type="search" placeholder="szöveg"
                    aria-label="Search" />
            </div>
        </div>

        <button [routerLink]="['' + 0]" class="btn btn-block btn-lg btn-info my-3">
            <span class="material-icons mr-3"> add_box </span>
            Új bevétel létrehozása
        </button>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h2 class="card-title">Bevételek</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-center">
                                    <th (click)="onColumnSelect('date')">
                                        Dátum
                                        <div>
                                            <i *ngIf="columnKey !== 'date'"
                                                class="material-icons align-text-bottom text-info"
                                                style="cursor: pointer">indeterminate_check_box</i>
                                            <i *ngIf="columnKey === 'date' && direction === 'asc'"
                                                class="material-icons align-text-top"
                                                style="cursor: pointer">keyboard_arrow_down</i>
                                            <i *ngIf="columnKey === 'date' && direction === 'dsc'"
                                                class="material-icons align-text-bottom"
                                                style="cursor: pointer">keyboard_arrow_up</i>
                                        </div>
                                    </th>
                                    <th (click)="onColumnSelect('incomeName')">
                                        Megnevezés
                                        <div>
                                            <i *ngIf="columnKey !== 'incomeName'"
                                                class="material-icons align-text-bottom text-info"
                                                style="cursor: pointer">indeterminate_check_box</i>
                                            <i *ngIf="columnKey === 'incomeName' && direction === 'asc'"
                                                class="material-icons align-text-top"
                                                style="cursor: pointer">keyboard_arrow_down</i>
                                            <i *ngIf="columnKey === 'incomeName' && direction === 'dsc'"
                                                class="material-icons align-text-bottom"
                                                style="cursor: pointer">keyboard_arrow_up</i>
                                        </div>
                                    </th>
                                    <th (click)="onColumnSelect('sum')">
                                        Összeg
                                        <div>
                                            <i *ngIf="columnKey !== 'sum'"
                                                class="material-icons align-text-bottom text-info"
                                                style="cursor: pointer">indeterminate_check_box</i>
                                            <i *ngIf="columnKey === 'sum' && direction === 'asc'"
                                                class="material-icons align-text-top"
                                                style="cursor: pointer">keyboard_arrow_down</i>
                                            <i *ngIf="columnKey === 'sum' && direction === 'dsc'"
                                                class="material-icons align-text-bottom"
                                                style="cursor: pointer">keyboard_arrow_up</i>
                                        </div>
                                    </th>
                                    <th (click)="onColumnSelect('description')">
                                        Leírás
                                        <div>
                                            <i *ngIf="columnKey !== 'description'"
                                                class="material-icons align-text-bottom text-info"
                                                style="cursor: pointer">indeterminate_check_box</i>
                                            <i *ngIf="columnKey === 'description' && direction === 'asc'"
                                                class="material-icons align-text-top"
                                                style="cursor: pointer">keyboard_arrow_down</i>
                                            <i *ngIf="columnKey === 'description' && direction === 'dsc'"
                                                class="material-icons align-text-bottom"
                                                style="cursor: pointer">keyboard_arrow_up</i>
                                        </div>
                                    </th>
                                    <th (click)="onColumnSelect('_id')">
                                        #
                                        <div>
                                            <i *ngIf="columnKey !== '_id'"
                                                class="material-icons align-text-bottom text-info"
                                                style="cursor: pointer">indeterminate_check_box</i>
                                            <i *ngIf="columnKey === '_id' && direction === 'asc'"
                                                class="material-icons align-text-top"
                                                style="cursor: pointer">keyboard_arrow_down</i>
                                            <i *ngIf="columnKey === '_id' && direction === 'dsc'"
                                                class="material-icons align-text-bottom"
                                                style="cursor: pointer">keyboard_arrow_up</i>
                                        </div>
                                    </th>
                                    <th>
                                        <div>Szerkesztés|Törlés</div>
                                    </th>

                                </thead>
                                <tbody>
                                    <tr *ngFor="
                                    let income of incomeList$
                                    | async
                                    | filter: txt:phraseKey
                                                | sorter: direction:columnKey
                                    ">
                                        <td class="text-center">{{ income.date }}</td>
                                        <td class="text-center">{{ income.incomeName }}</td>
                                        <td class="text-center">{{ income.sum }}</td>
                                        <td class="text-center">{{ income.description }}</td>
                                        <td class="text-center">{{ income._id }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button [routerLink]="[income._id]" class="btn btn-success">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button class="btn btn-danger" (click)="onRemove(income)">
                                                    <i class="material-icons">delete_forever</i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>