<div class="main-content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex mb-3 col-6 offset-6">
                <div class="col-md-4">
                    <select [(ngModel)]="phraseKey" class="custom-select">
                        <option value="">Keresés </option>
                        <option *ngFor="let key of keyArray" [value]="key">
                            {{ key }}
                        </option>
                    </select>
                </div>
                <input [(ngModel)]="txt" class="form-control px-1" type="search" placeholder="szöveg"
                    aria-label="Search" />
            </div>
        </div>

        <button [routerLink]="['' + 0]" class="btn btn-block btn-lg btn-info my-3">
            <span class="material-icons mr-3"> add_box </span>
            Új költség szolgáltató létrehozása
        </button>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h2 class="card-title">Költség szolgáltatók</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-center">
                                    <th (click)="onColumnSelect('costServiceName')">
                                        Költség szolgáltató
                                        <div>
                                            <i *ngIf="columnKey !== 'costServiceName'"
                                                class="material-icons align-text-bottom text-info"
                                                style="cursor: pointer">indeterminate_check_box</i>
                                            <i *ngIf="columnKey === 'costServiceName' && direction === 'asc'"
                                                class="material-icons align-text-top"
                                                style="cursor: pointer">keyboard_arrow_down</i>
                                            <i *ngIf="columnKey === 'costServiceName' && direction === 'dsc'"
                                                class="material-icons align-text-bottom"
                                                style="cursor: pointer">keyboard_arrow_up</i>
                                        </div>
                                    </th>
                                    <th (click)="onColumnSelect('address')">
                                        Cím
                                        <div>
                                            <i *ngIf="columnKey !== 'address'"
                                                class="material-icons align-text-bottom text-info"
                                                style="cursor: pointer">indeterminate_check_box</i>
                                            <i *ngIf="columnKey === 'address' && direction === 'asc'"
                                                class="material-icons align-text-top"
                                                style="cursor: pointer">keyboard_arrow_down</i>
                                            <i *ngIf="columnKey === 'address' && direction === 'dsc'"
                                                class="material-icons align-text-bottom"
                                                style="cursor: pointer">keyboard_arrow_up</i>
                                        </div>
                                    </th>
                                    <th (click)="onColumnSelect('description')">
                                        Leírás
                                        <div>
                                            <i *ngIf="columnKey !== 'description'"
                                                class="material-icons align-text-bottom text-info"
                                                style="cursor: pointer">indeterminate_check_box</i>
                                            <i *ngIf="columnKey === 'description' && direction === 'asc'"
                                                class="material-icons align-text-top"
                                                style="cursor: pointer">keyboard_arrow_down</i>
                                            <i *ngIf="columnKey === 'description' && direction === 'dsc'"
                                                class="material-icons align-text-bottom"
                                                style="cursor: pointer">keyboard_arrow_up</i>
                                        </div>
                                    </th>

                                    <th (click)="onColumnSelect('id')">
                                        #
                                        <div>
                                            <i *ngIf="columnKey !== 'id'"
                                                class="material-icons align-text-bottom text-info"
                                                style="cursor: pointer">indeterminate_check_box</i>
                                            <i *ngIf="columnKey === 'id' && direction === 'asc'"
                                                class="material-icons align-text-top"
                                                style="cursor: pointer">keyboard_arrow_down</i>
                                            <i *ngIf="columnKey === 'id' && direction === 'dsc'"
                                                class="material-icons align-text-bottom"
                                                style="cursor: pointer">keyboard_arrow_up</i>
                                        </div>
                                    </th>
                                    <th>
                                        <div>Szerkesztés|Törlés</div>
                                    </th>

                                </thead>
                                <tbody>
                                    <tr *ngFor="
                                    let costService of costServiceList$
                                    | async
                                    | filter: txt:phraseKey
                                    | sorter: direction:columnKey
                                    ">
                                        <td class="text-center">{{ costService.costServiceName }}</td>
                                        <td class="text-center">{{ costService.address }}</td>
                                        <td class="text-center">{{ costService.description }}</td>
                                        <td class="text-center">{{ costService.id }}</td>
                                        <td class="text-center">
                                            <div class="btn-group">
                                                <button [routerLink]="[costService.id]" class="btn btn-success">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button class="btn btn-danger" (click)="onRemove(costService)">
                                                    <i class="material-icons">delete_forever</i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>