<div class="main-content mt-3 min-vh-100">
    <div class="container-fluid">
        <div class="row">
            <div *ngIf="income" class="col-6 offset-3">
                <form #incomeForm="ngForm" (ngSubmit)="onFormSubmit(incomeForm)">
                    <div *ngIf="!updating" class="form-group">
                        <h2 *ngIf="income._id==0" class="card-title mb-5">Új bevétel létrehozása</h2>
                        <h2 *ngIf="income._id!=0" class="card-title mb-5">Bevétel módosítása
                        </h2>
                        <label for="income">#</label>
                        <input [(ngModel)]="income._id" id="income" name="income" type="number" class="form-control"
                            disabled>
                    </div>

                    <div class="form-group">
                        <label for="date">Dátum</label>
                        <input name="date" [(ngModel)]="income.date" type="text" class="form-control pl-3"
                            pattern="^[0-9.-]+$" required>

                        <div [hidden]="
                                        incomeForm.controls.date?.valid ||
                                        incomeForm.controls.date?.pristine
                                        " class="error-message">
                            Érvényes dátumot kell megadni.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="name">Megnevezés</label>
                        <input name="name" [(ngModel)]="income.incomeName" type="text" class="form-control pl-3"
                            pattern="^[A-ZÁÉŐÚŰÖÜÓÍa-záéűúőöüóí ]+$" required>

                        <div [hidden]="incomeForm.controls.name?.valid ||
                                       incomeForm.controls.name?.pristine
                            " class="error-message">
                            Érvényes nevet kell megadni.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sum">Összeg</label>
                        <input name="sum" [(ngModel)]="income.sum" type="number" class="form-control pl-3"
                            pattern="^[0-9]\d*$" required>

                        <div [hidden]="incomeForm.controls.sum?.valid ||
                                       incomeForm.controls.sum?.pristine" class="error-message">
                            Érvényes összeget kell megadni.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="description">Leírás</label>
                        <input name="description" [(ngModel)]="income.description" type="text" class="form-control pl-3"
                            pattern="^[A-ZÁÉŐÚŰÖÜÓÍa-záéűúőöüóí 0-9-]+$" required>

                        <div [hidden]="
                                        incomeForm.controls.description?.valid ||
                                        incomeForm.controls.description?.pristine
                                        " class="error-message">
                            Érvényes leírást kell megadni.
                        </div>
                    </div>


                    <div *ngIf="incomeForm.invalid" class="alert alert-warning text-center mt-2" role="alert">
                        Az összes mezőt kötelező megadni!
                    </div>

                    <button [disabled]="incomeForm.invalid || updating" type="submit"
                        class="btn btn-block btn-info mb-5">
                        <i *ngIf="!updating" class="fa fa-save"></i>
                        <i *ngIf="updating" class="fa fa-refresh"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>