<div class="main-content mt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="d-flex mb-3 col-6 offset-6">
                <div class="col-md-4">
                    <select [(ngModel)]="phraseKey" class="custom-select">
                        <option value="">Keresés </option>
                    </select>
                </div>
                <input [(ngModel)]="txt" class="form-control px-1" type="search" placeholder="szöveg"
                    aria-label="Search" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h2 class="card-title">Felhasználók</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-center">
                                    <th>Név</th>
                                    <th>E-mail</th>
                                    <th>Jelszó</th>
                                    <th>Jogosultság</th>
                                    <th>Szerkesztés</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of userList$ | async | filter: txt:phraseKey">
                                        <td class="text-center">{{ user.name }}</td>
                                        <td class="text-center">{{ user.email }}</td>
                                        <td class="text-center">{{ user.password }}</td>
                                        <td class="text-center">{{ user.role }}</td>
                                        <td class="text-center">
                                            <a class="btn btn-info" routerLink="/user/edit/{{ user._id }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>